.first{
    border-left: 1px solid rgba(172, 8, 8, 0.884);
    border-right: 1px solid rgba(172, 8, 8, 0.884); ;
    border-bottom: 1px solid rgba(172, 8, 8, 0.884);
    border-top: 1px solid rgba(172, 8, 8, 0.884);
}

.second{
    border-right:  1px solid rgba(172, 8, 8, 0.884);
}